<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'main/onsemi.ico' %}">
    <link rel="stylesheet" href="{% static 'css/layout_shop.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_shop.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="page-container">
        <header id="start-image"> 
            <div class="container">
                <div class="logo">
                    <a href="/">
                    <img src="{% static 'main/onsemi_logos.png' %}" alt="ONSEMI" class="logo">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li> <a href="/shop">온새미마트</a></li>
                        {% comment %} <li> <a href="/introduce/">소개</a></li> {% endcomment %}
                        {% if request.user.is_authenticated %}
                        <li> <a href="/user/logout" class="logout">로그아웃</a></li>
                        <li> <a href="/user_page/" class="logout">마이페이지</a></li>
                        <li><a href="/cart/">장바구니</a></li>
                        <li><a href="/blog/notice_list">게시판</a></li>
                        {% else %}
                        <li><a href="/user/login/">로그인</a></li>
                        <li><a href="/user/register/">회원가입</a></li>
                        {% endif %}
                    </ul>
                </nav>
                
            </div>
        </header>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
        <a href="#start-image" id="chat-link3">
            <span class="material-symbols-outlined">
                arrow_upward
            </span>
        </a>
        <footer id="footer">
            <div class="footer-content">
               
                <p>
                    (주)케이티 경기도 성남시 분당구 불정로 90 (정자동) 대표자명: 김영섭 사업자등록번호: 102-81-42945 통신판매업신고: 2002-경기성남-0048
                </p>
                <p>&copy; 2024 ONSEMI. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script>
        function handleScroll() {
            const chatLink2 = document.getElementById('chat-link3');
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > 600) { // Show the button when scroll is greater than 600px
                chatLink2.style.display = 'flex';
            } else {
                chatLink2.style.display = 'none';
            }
        }

        // Ensure the button is hidden initially and only shown after scrolling
        document.addEventListener('DOMContentLoaded', () => {
            const chatLink2 = document.getElementById('chat-link3');
            chatLink2.style.display = 'none';
            window.addEventListener('scroll', handleScroll);

            window.scrollTo(0, 0);
        });
        document.addEventListener('DOMContentLoaded', function() {
            const hamburger = document.getElementById('hamburger');
            const menu = document.getElementById('menu');
        
            hamburger.addEventListener('click', function() {
                menu.classList.toggle('show');
            });
        });
        
        function adjustFooter() {
            const footer = document.getElementById('footer');
            const contentHeight = document.querySelector('.page-container').offsetHeight;
            const windowHeight = window.innerHeight;

            if (contentHeight < windowHeight) {
                footer.style.position = 'absolute';
                footer.style.bottom = '0';
                footer.style.width = '100%';
            } else {
                footer.style.position = 'relative';
            }
        }

        window.addEventListener('load', adjustFooter);
        window.addEventListener('resize', adjustFooter);

    
        
    </script>
</body>
</html>
{% block script %}
{% endblock %}